.group {
    padding: 0.2rem 0.5rem;
    border: 1px solid rgba(211, 202, 202, 0.5);
    color: rgb(48, 48, 48);
    border-radius: 4px;
    margin-bottom: 5px;
}

.group:hover{
    background-color: #dfd9cb;
}

.name {
    margin: 5px 0;
    font-size: 18px;
}

.description,
.website,
.phone,
.email,
.twitter,
.instagram {
    display: block;
    margin-top: 5px;
    font-size: 16px;
}
