:global(#map) {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: visible;
}

:global(.mapboxgl-canvas) {
    outline: none;
}

.groupsPopup {
    max-width: 60%;
    height: 60%;
    // Show above mapbox attribution and controls.
    z-index: 3;

    @media screen and (min-width: 768px) {
        max-width: 40%;
        height: 400px;
    }

    @media screen and (min-width: 900px) {
        max-width: 20%;
        height: 500px;
    }
}

.groupsPopup :global(.mapboxgl-popup-content) {
    height: 100%;
}

:global(.mapboxgl-popup) {
    transform: none !important;
}

.hoverPopupTitle {
    margin: 0;
}
