body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.mapboxgl-popup {
    max-width: 80%;
    height: 60%;
}

.mapboxgl-popup-content {
    height: 100%;
}

.neighborhoodPopup {
    margin: 0;
    height: 100%;
    overflow: scroll;
}

@media screen and (min-width: 768px) {
    .mapboxgl-popup {
        max-width: 60%;
        height: 400px;
    }
}

@media screen and (min-width: 900px) {
    .mapboxgl-popup {
        max-width: 40%;
        height: 500px;
    }
}

.neighborhoodPopup__neighborhoodName {
    margin: 0;
    font-size: 24px;
    line-height: 120%;
}

.neighborhoodPopup__sectionTitle {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #59A6E5; /* blue */
    /* color: #A27CEF; purple */
}

.neighborhoodPopup__sectionTitle-hasServicingGroups {
    color: #43C59E; /* green */
}

.neighborhoodPopup__group {
    padding: 4px;
    border: 1px solid #DDD;
    margin-bottom: 5px;
}

.neighborhoodPopup__groupName {
    margin: 5px 0;
    font-size: 18px;
}

.neighborhoodPopup__groupMissionShort,
.neighborhoodPopup__groupWebsite,
.neighborhoodPopup__groupTwitter,
.neighborhoodPopup__groupInstagram {
    display: block;
    font-size: 16px;
}
